.main-Content {
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    min-height: 200vh;
    max-height: 200vh;
    height: 200vh;
}
.content-grandParent01{
    min-height: 200vh;
    max-height: 200vh;
    height: 200vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    
    
}
.content-parent01{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    max-height: 100vh;
    position: relative;
    
}
.imgTopContent{
    width: 100%;
    height: 24vh;
    object-fit: cover;
}
.imgBottom{
    margin-left: 8px;
    margin-right: 8px;
}
.imgBottomContent{
    width: 100%;
    height: 18vh;
    object-fit: cover;
    
}
.rightArrow{
    height: 24px;
}
.imageRound{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.text01{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 18px;
    margin-bottom: 18px;
    
}
.text02{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: red;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 18px;
    margin-bottom: 18px;
}
.links{
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 18px;
    margin-bottom: 18px;
}
.imgRoundContent{
    position: absolute;
    top: 18%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.content-parent12{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 8px;
    gap: 10px;
    min-height: 120vh;
    max-height: 120vh;
    height: 120vh;
    overflow-y: scroll;
}
.menuCard{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 2px solid rgba(128, 128, 128, 0.164);
}
.menuCard:hover{
    background-color: rgba(255, 68, 0, 0.223);
    cursor: pointer;
}
.addToCart{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 24px;
    color: orangered;
    cursor: pointer;
}
.addToCartInnerbox{
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    font-weight: 700;

}
.addToCartInnerbox:hover{
    border: 2px solid orangered;
}
.itemTitle{
    font-size: 25px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

}
.itemPrice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 16px;
    color: orangered;
    font-weight: 700;
    
}
.content-grandParent02{
    min-height: 200vh;
    max-height: 200vh;
    height: 200vh;
    width: 20%;
    border: 2px solid rgba(128, 128, 128, 0.218);
}
.content-parent021{
    min-height: 50vh;
    max-height: 50vh;
    height: 50vh;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.child-title{
    text-align: center;
}
.basket-function{
    display: flex;
}
.amount{
    width: 50%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.amountPlus{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    color: orangered;
    font-weight: 700;
}
.amountPlus:hover{
    border-radius:50%;
    border: 2px solid orangered;

}
.amountMinus{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    color: orangered;
    font-weight: 700;

}
.amountMinus:hover{
    border-radius:50%;
    border: 2px solid orangered;
}
.amount-sum{
    width: 50%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sumNumber{
    height: 16px;
    width: 16px;
    padding-left: 10px;

}
.basket-icon{
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
}
.amountNumber{
    width: 24px;
}
.child02{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
    border: 2px solid rgba(128, 128, 128, 0.266);
    
}
.food-title{
    font-size: 12px;
    font-weight: 700;
}
.basketIconImg{
    height: 16px;
    width: 16px;
    
}
.delivery{
    display: flex;
    font-weight: 700;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    
}
.totalSum{
    display: flex;
    font-weight: 700;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.buyButton{
    display: flex;
    width: 100%;
    justify-content: center;
}
#menuBasketSection{
    overflow-y: scroll;
}